<section aria-labelledby="add-comment-header">
    <nav>
        <a href="/housing/{{review.houseId}}">Back to Housing</a>
        {{!-- <p>review.housingId  :  {{review.houseId}} </p>
        <p>review._id  :  {{review._id}} </p>
        <p>review.title  :  {{review.title}} </p> --}}
        {{!-- <a href="/reviews/{{review._id}}">Back to Review</a> --}}
    </nav>
    <h1 id="add-comment-header" class="h1-content">Add a Comment to the Review</h1>
    <p class="p-content">Add your comment to the review below.</p>


    <form action="/comments/add/{{review._id}}" method="post" class="add-comment-form">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required placeholder="Type your comment here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
</section>
