<section aria-labelledby="housing-header">
    <nav>
        <a href="/home">Home</a>
    </nav>
    <h1 id="housing-header">{{housing.address}}</h1>
    <div class="housing-images">
        {{#each housing.images}}
            <img src="{{this}}" alt="Image of the housing" class="housing-main-image">
        {{/each}}
    </div>

    <h2>Overview</h2>
    <p class="housing-location"><strong>Location:</strong> {{housing.address}}, {{housing.city}}, {{housing.state}}, Zip: {{housing.zipCode}}</p>
    <p class="housing-type"><strong>Type:</strong> {{housing.homeType}}</p>
    <p class="housing-price-min"><strong>Rental Cost:</strong> ${{housing.rentalCostMin}} per month</p>
    <p class="housing-price-max"><strong>Rental Cost:</strong> ${{housing.rentalCostMax}} per month</p>
    <p class="housing-pet-policy"><strong>Pet Policy:</strong> {{housing.petPolicy}}</p>
    <p class="housing-garage"><strong>Garage:</strong> {{#if housing.garage}}Available{{else}}Not Available{{/if}}</p>
    <p class="housing-rating"><strong>Rating:</strong> {{housing.rating}} / 5</p>

    {{#if isAdmin}}
        <a href="/housing/edit/{{housing._id}}" class="btn btn-secondary">Edit Housing</a>
    {{/if}}

    <h2>Amenities</h2>
    <ul class="amenities-list">
        {{#each housing.amenities}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <h2>Reviews</h2>
    {{#if housing.reviewIds.length}}
        <div class="reviews-container">
            {{#each housing.reviewIds as |reviewId|}}
                {{> reviewPartial reviewId=reviewId}}
                <button onclick="markReviewHelpful('{{reviewId}}')" class="helpful-button">
                    <img src="/public/HelpfulIcon.png" alt="Helpful">
                    Helpful ({{findReviewById reviewId 'helpfulCounts'}})
                </button>
            {{/each}}
        </div>
    {{else}}
        <p>No reviews yet. Be the first to write a review!</p>
    {{/if}}
    <a href="/addReview" class="btn btn-primary">Add Review</a>
</section>

<script>
    function markReviewHelpful(reviewId) {
        // AJAX call to backend to increment the helpful count and update the list of users who found the review helpful
        $.ajax({
            url: '/review/' + reviewId + '/helpful',
            type: 'POST',
            success: function(response) {
                // Update the count on the button directly without reloading
                document.querySelector('button[onclick="markReviewHelpful(\'' + reviewId + '\')"]').innerHTML =
                        '<img src="/public/Icon.png" alt="Helpful"> Helpful (' + response.helpfulCounts + ')';
            },
            error: function(error) {
                console.error('Error updating helpful count:', error);
            }
        });
    }
</script>
