<section aria-labelledby="housing-header">
    <h1 id="housing-header" class="h1-content">{{housing.address}}</h1>
    <div class="housing-images">
        {{#each housing.images}}
            <img src="{{this}}" alt="Image of the housing" class="housing-main-image">
        {{/each}}
    </div>

    <h2>Overview</h2>
    <p class="housing-location"><strong>Location:</strong> {{housing.address}}, {{housing.city}}, {{housing.state}}, Zip: {{housing.zipCode}}</p>
    <p class="housing-type"><strong>Type:</strong> {{housing.homeType}}</p>
    <p class="housing-price-min"><strong>Rental Cost:</strong> ${{housing.rentalCostMin}} per month</p>
    <p class="housing-price-max"><strong>Rental Cost:</strong> ${{housing.rentalCostMax}} per month</p>
    <p class="housing-pet-policy"><strong>Pet Policy:</strong> {{housing.petPolicy}}</p>
    <p class="housing-garage"><strong>Garage:</strong> {{#if housing.garage}}Available{{else}}Not Available{{/if}}</p>
    <p class="housing-rating"><strong>Rating:</strong> {{housing.rating}} / 5</p>

    {{#if isAdmin}}
        <a href="/housing/edit/{{housing._id}}" class="btn btn-secondary">Edit Housing</a>
    {{/if}}


    <h2>Amenities</h2>
    {{#if housing.amenities.length}}
        <ul class="amenities-list">
            {{#each housing.amenities}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No amenities listed.</p>
    {{/if}}


   <h2>Reviews</h2>
{{#if reviews.length}}
    <div class="reviews-container">
        {{#each reviews}}
            <div class="review">
                <h3>{{title}}</h3>
                <p>{{firstName}}   {{lastName}}</p>
                <p><strong>Rating:</strong> {{rating}}/5</p>
                <p>{{body}}</p>
                <div class="review-images">
                    {{#if images}}
                        {{#each images}}
                            <img src="{{this}}" alt="Review Image" style="max-width: 200px; margin: 10px;">
                        {{/each}}
                    {{/if}}
                </div>
                <button class="helpful-button" data-review-id="{{_id}}">
                    <img src="/public/HelpfulIcon.png" alt="Helpful">
                    Helpful (<span id="helpful-count-{{_id}}">{{helpfulCounts}}</span>)
                </button>
                <!-- Redirect to Add Comment Page -->
                <a href="/comments/addComment/{{_id}}" class="btn btn-primary">Add Comment</a>
                <div class="comments">
                    <h4>Comments:</h4>
                    {{#if comments}}
                        <ul>
                            {{#each comments}}
                                <li>{{this.author}}: {{this.content}}</li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <p>No comments yet.</p>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>No reviews yet. Be the first to write a review!</p>
{{/if}}
    <a href="/reviews/addReview/{{housing._id}}" class="btn btn-primary">Add Review</a>
</section>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/public/js/review_helpful_ajax.js"></script>
